*, *::before, *::after {
    box-sizing: border-box;
}
 
body {
    /* display: grid; */
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
    background-color: #FFFFFF;
    min-width: 400px;
}

/* Header*/
header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: .5em 0;
}


.logo-container {
    display: flex;
    align-items: center;
    color: #0E0E0E;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
    font-weight: 700;
    gap: .2em;
}

.logo {
    display: block;
    height: 23px;
}

/* Nav List */
.nav-container {
    color: #090909;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
}

ul {
    display: flex;
    gap: 3em;
}

li {
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
    color: #0E0E0E;
}

nav ul a:hover {
    text-decoration: underline;
}

/* Hero */
.hero-post {
    position: relative;
    color: #FFFFFF;
}

.hero-image {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 100%;
    height: 293px;
    object-fit: cover;
    object-position: bottom;
}

.hero-details {
    position: absolute;
    top: 25%;
    left: 1%;
    right: 5%;

    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 1em .9em;
}

.hero-date {
    font-size: 0.75rem;
    font-weight: 400;
}

.hero-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
}

/* About Me */

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    margin: 1em;
}

.profile-image {
    height: 170px;
    margin-bottom: 1em;
}

.about-container h1 {
    width: 90%;
    font-size: 2.18rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: .5em;
}


/* Indivdual Post */
.bp-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 1em;
    gap: 1em;
}

.bp-container h1 {
    font-size: 2rem;
    width: 90%;
    line-height: 1;
}

.bp-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .5em;
}

.bp-date {
    font-size: 0.75rem;
    font-weight: 400;
}

.bp-image {
    width: 100%;
    height: 232px;
    object-fit: cover;
    object-position:calc(100% - 1em) calc(60% - 1em);
    border-radius: 3px;
}

.content {
    color: #151515;
    font-size: 1rem;
    font-weight: 400;
}

/* Filler Content */
.filler-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 1em;
    gap: 1em;
}

/* Posts */
.recent-post {
    text-align: center;
}

.posts-container {
    display: grid;
    margin: 1em .5em;
}

.posts-container h3 {
    text-align: center;
    font-size: 1rem;
}

.post {
    padding: 1em;
    flex: 1 374px;
}

.post:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.post-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .5em;
    padding: .5em 0;
}

.post-date {
    font-size: 0.89rem;
    font-weight: 400;
    color: #000000;
}

.desc {
    font-size: 1rem;
    font-weight: 400;
}

.post-desc {
    color: #505050;
}

.post-image {
    width: 100%;
    height: 232px;
    object-fit: cover;
    border-radius: 3px;
}

main {
    display: grid;
}

.view-more {
    width: 100px;
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 auto 1em;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    font-size: 0.75rem; 
    font-weight: 700;
    background: #202020;
    color: #ECECEC;
    padding: 3em 0;
}

footer p {
    margin: 0;
}

.copyright {
    color: #D7D7D7;
    font-weight: 400;
}

/* Typography */
h1, h2, h3, p {
    margin: 0;
}


/* Media Queries */

/* Transition width */
@media (min-width: 768px) {
    .hero-image {
        height: 400px;
        object-fit: cover;
        object-position: 0% 70%;
    }

    .hero-details {
        top: 60%;
        left: 2%;
    }
    
    .posts-container {
        grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
        grid-auto-rows: 400px;
        grid-auto-flow: dense;
        gap: 1em;

        margin: 1em;
    }
}

/* Large Desktops */
@media (min-width: 1200px) {

    .bp-details, .filler-container {
        width: 75%;
        margin: 1em auto;
    }

    .bp-image {
        margin: auto;
        width: 80%;
        height: 400px;
        object-position: 50% 70%;
    }

    .about-container {
        margin: 2em auto;
        width: 80%;
        flex-direction: row;
        gap: 1em;
    }
    
    .about-details {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-details {
        width: 50%;
    }

    .posts-container {
        grid-template-columns: repeat(3, minmax(365px, 1fr));
    }
}